<html lang="pt-br">
<head>
    <title>Noticia 1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/estilos.css">
    <style>
        h1, h2 {
            text-align: center;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>Livia NEWS</h1>
    <h3>Nada além da verdade.</h3>
    <hr>
    <h2>Nova espécie de dinossauro que viveu na Caatinga é descoberta por pesquisadores</h2>
    
    <p>Uma nova espécie de titanossauro que viveu na Caatinga foi descoberta por pesquisadores e pesquisadoras da Universidade Federal de Goiás (UFG), da Universidade Federal do Rio de Janeiro (UFRJ) e da Universidade do Estado do Rio de Janeiro (UERJ). A espécie foi batizada de <em>Tiamat valdecii</em>, em homenagem a uma deusa das mitologias suméria e babilônica, descrita como um dragão.</p>

    <p>O achado histórico aconteceu em uma região inóspita, a 20 quilômetros da cidade de Quixeré (CE), na fronteira com o estado do Rio Grande do Norte (RN). Segundo a UFG, é a primeira espécie de dinossauro encontrada na região da Bacia Potiguar. O estudo foi publicado na revista científica <em>Zoological Journal of the Linnean Society</em>.</p>
    
    <img class= images src="../images/dinossauro.jpg" width="400">
    
    <hr>
    <p class="dev-texto">Desenvolvimento por: Livia Pereira</p>
</body>
</html>

